@use "global" as *;

// こちらはブロックとして使い回しできるようにして、外の余白はprice__tableクラスに残す。
.price-table {
  display: flex;
  flex-direction: column;
  gap: rem(39);
  width: 100%;
  // margin-top: rem(40);←外の余白は.price__tableクラスに残す

  @include mq(md) {
    flex: 1;
    min-width: rem(300);
    gap: rem(42);
    width: calc(rem(492) / rem(1077) * 100%);
    // margin-top: rem(0);←外の余白は.price__tableクラスに残す
  }
}
