@use "global" as *;

//ブロックなので、使いまわせるように外の余白は.voice__cardsクラスに指定する。
.voice-cards {
  // margin-top: rem(44);//←使いまわせるように外の余白は.voice__cardsクラスに指定する。
  display: flex;
  flex-direction: column;
  gap: rem(40);
  align-items: center;
  justify-content: space-between;

  @include mq(md) {
    // margin-top: rem(29);//←使いまわせるように外の余白は.voice__cardsクラスに指定する。
    flex-direction: row;
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
}
